{% extends "base.html.twig" %}
{#  Grâce à extends je fais relier mon fichier article.html.twig à bas.html.twig #}


{% block title %}Mes Articles{% endblock %}

{% block main %}

{#  J'ouvre une instruction for avec une acollade et % #}
{# Pour chaque article de mon tableau contenant tous les articles possibles #}

{% for article in articles %}



    {# J'insère une image de chaque article depuis ma base de données grâce à la variable article.image #}

    <img src="{{ article.image }}" alt="Image" class="resp"/>

    {#Grâce à la balise (a) je crée un lien cliquable sur le titre de chaque article#}
     {#Avec path, j'indique le name de la route à emprunter, et la valeur de la wild card de la route #}
    {# l'id qui a pour valeur article.id #}
    <div>
        <a href="{{ path('article_show',{'id':article.id}) }}"> {{ article.title }}  </a></div>



    {#Grâce aux balises (span et a) je crée un bouton cliquable à côté du titre de chaque article#}
    {#Pour cela, j'utilise path, et j'indique le name de la route à emprunter, et la valeur de la wild card
    de la route #}
    {# l'id qui a pour valeur article.id #}

        <span>

            {# Un bouton cliquable pour modifier le titre de mon article  #}
            <a href="{{ path('article_modify_static',{'id':article.id}) }}"> Modifier  </a></br>

            {# Un bouton cliquable pour supprimer mon article  #}
            <a href="{{ path('article_delete',{'id':article.id}) }}"> Supprimer l'article  </a>

        </span>





    </h1>




{% endfor %}
{# Je referme mon instruction avec endfor #}

{% endblock main %}
{# Je referme mon block main avec endblock #}







