<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="librairie d'articles touristiques sur Lifou">
    <meta name="author" content="Helene">
    <meta name="keywords" content="tourisme,actualité,plage,grotte,Lifou">
    <title>Ma librairie touristique</title>
    <link rel="stylesheet" href="{{asset("assets/css/style.css")}}">

</head>

<body>

<header class="d-flex flex-column justify-content-between  text-center container-fluid back p-3 mb-2 bg-primary text-white"
        style = "background-image: url('{{asset("assets/img/nouvelle-caledonie-lifou (1).png") }}')">
    <nav class="row mx-0 w-100 justify-content-between align-items-center">
        <div class="order-2 order-md-1 order-lg-1 col-lg-2 col-4 p-3 mb-2 bg-light text-dark"><img src='{{asset("assets/img/j-aime-lifou.png") }}' alt="" class="img-fluid"></div>
        <div class="col-lg-8 order-lg-2 d-none d-lg-block">
            <ul class="row ">
                <li class="col-3 text-center ">
                    <a class="text-white" href="">Accueil</a>
                </li>
                <li class="col-3 text-center">
                    <a class="text-white" href="">Présentation</a>
                </li>
                <li class="col-3 text-center">
                    <a class="text-white" href="">Actualités</a>
                </li>
                <li class="col-3 text-center">
                    <a class="text-white" href="">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <article class="row py-5 py-lg-2 justify-content-lg-end justify-content-center" >

        <div class="col-lg-6">
            <h1 class="text-lg-right text-center text-warning">Les trésors de Lifou</h1>
            <p class="text-light text-lg-right d-none d-lg-block">
                    Venez découvrir les beautés des îles Loyauté. Lifou
                    en est la plus grande parmi Maré, Tiga, et Ouvéa. Elle compte environ 15000 habitants, et on y vit
                    de nos traditions, de l'agriculture, de la pêche, du tourisme et des services.
            </p>

            <button class="mt-3 d-block d-lg-none mx-auto bg-dark border border-light rounded-pill text-light text-center py-2 px-3">Voir l'article</button>
        </div>
    </article>


        </header>

            <main>
                <section class="container my-5">
                    <article class="row align-items-center">
                          <div class="col-md-12">

                         </div>
                    </article>
                </section>
                    {% block main %} {% endblock main %}
            </main>

</body>


<footer class="container-fluid bg-dark py-3">
        <nav class="container">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-2 d-none d-lg-block order-lg-1"><img src='{{asset("assets/img/j-aime-lifou.png") }}' alt="" class="img-fluid"></div>
                <ul class="text-center text-md-left col-lg-3 col-md-4 order-lg-2 order-2 order-md-1 ">
                    <li>
                        <a href="" class="text-light">Mentions légales</a>
                    </li>
                    <li>
                        <a href="" class="text-light">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="text-light">Photographie</a>
                    </li>
                </ul>
                <button class="my-3 my-md-0 col-6 offset-3 offset-md-0 col-lg-2 col-md-4 order-1 order-md-2 order-lg-3 bg-primary border border-light rounded-pill text-light text-center py-2 px-3">Devenir membre</button>
                <div class="col-lg-3 col-md-4 order-3 col-md-4 order-lg-4 order-md-3">
                    <ul class="row justify-content-lg-between justify-content-around pl-0">
                        <li class="col-3"><img src=" {{asset('assets/img/facebook.png') }} " alt="" class="img-fluid"></li>
                        <li class="col-3"><img src="{{asset('assets/img/youtube.png') }} " alt="" class="img-fluid"></li>
                        <li class="col-3"><img src="{{asset('assets/img/twitter.png') }} " alt="" class="img-fluid"></li>
                    </ul>
                </div>
            </div>
        </nav>
</footer>

</html>
